# speed testing dddm
below we test multicore preformance of dddm

In [8]:
import time
import pandas as pd
import socket
import matplotlib.pyplot as plt
host = socket.getfqdn()

In [9]:
def check_output(output):
    '''takes output of %%capture and returns if there is any error messages
    returns bool if there were any errors or failures'''
    lines = output.stdout.split('\n')
    finished = True
    for i, line in enumerate(lines):
        if "fail" in line.lower() or 'error' in line.lower():
            print('\n'.join(lines[max(0,i-3):min(len(lines), i+3)]))
            finished = False
    print(output.stdout.split('\n')[-2])
    return finished

In [15]:
import uuid
def get_hash():
    return uuid.uuid4().hex
get_hash()

'04b1cfa1ecb54960ab1e542e0163d522'

In [16]:
columns = ['hash','n_cores', 'n_live', 'time', 'finished', 'output']
df_result = pd.DataFrame(columns=(columns))

In [17]:
common_opt = '-shielding no -mw 5 -target Xe_migd -tol 0.8 -nparam 2 -bins 10 -notes ncoretest '
common_opt+= '-cross_section -44 -priors_from migdal_wide -verbose 1 -save_intermediate yes'

## Test 0

In [89]:
n_live = 10
n_cores = 10

In [90]:
%%capture cap
start = time.time()
_hash = get_hash()
!mpiexec -n $ncore python run_dddm_multinest.py -multicore_hash $_hash -nlive $n_live $common_opt
end = time.time()

In [91]:
print(end-start)

633.5687546730042

In [92]:
result = dict(hash = _hash, n_live = n_live, n_cores = n_cores, time = end - start, finished =  check_output(cap), output = cap.stdout)

finished, bye bye

In [93]:
df_result = df_result.append(result,ignore_index=True)

In [94]:
df_result[columns[:-1]]

                                hash n_cores n_live         time finished
0   87a42749ae364b0289ecf345055313b5      10     10  1008.033547     True
1   a8691f0f85d14f91b4a4c6b7a6623b0c       2     10   808.244464     True
2   1f474a07ca504c8bb68ab7ed9fbcac40      10     10   994.904756     True
3   eaa65d78cfe840a1b80d78a8719743a0       2     10   676.653270     True
4   17efb1719164499ab2d52e425e2d1420      10     10   732.815588     True
5   ff29b725524a4630aef2748cf78f630c       2     10   861.004138     True
6   9b1085492fc44cc7a699c514fbe121c1       2     50  1054.126191     True
7   982b74d8829444ec8b844fa72f4d714d      10     50  1114.016210     True
8   70b71966be664f05b2f2f0ec5b45b37a       2     50  1060.242525     True
9   56b86644950f4aa0a747df10870934a5       1     10  1161.071688     True
10  174d004392574cbe9d94b6a2f73ea5f3       1     50  3080.356570     True
11  f0c814b878d74b53b8836220143a08f9      10     10   633.568755     True

## Test 1

In [95]:
n_live = 50
n_cores = 2

In [96]:
%%capture cap
start = time.time()
_hash = get_hash()
!mpiexec -n $ncore python run_dddm_multinest.py -multicore_hash $_hash -nlive $n_live $common_opt
end = time.time()

In [97]:
print(end-start)

1196.2186377048492

In [98]:
result = dict(hash = _hash, n_live = n_live, n_cores = n_cores, time = end - start, finished =  check_output(cap), output = cap.stdout)

finished, bye bye

In [99]:
df_result = df_result.append(result,ignore_index=True)

In [100]:
df_result[columns[:-1]]

                                hash n_cores n_live         time finished
0   87a42749ae364b0289ecf345055313b5      10     10  1008.033547     True
1   a8691f0f85d14f91b4a4c6b7a6623b0c       2     10   808.244464     True
2   1f474a07ca504c8bb68ab7ed9fbcac40      10     10   994.904756     True
3   eaa65d78cfe840a1b80d78a8719743a0       2     10   676.653270     True
4   17efb1719164499ab2d52e425e2d1420      10     10   732.815588     True
5   ff29b725524a4630aef2748cf78f630c       2     10   861.004138     True
6   9b1085492fc44cc7a699c514fbe121c1       2     50  1054.126191     True
7   982b74d8829444ec8b844fa72f4d714d      10     50  1114.016210     True
8   70b71966be664f05b2f2f0ec5b45b37a       2     50  1060.242525     True
9   56b86644950f4aa0a747df10870934a5       1     10  1161.071688     True
10  174d004392574cbe9d94b6a2f73ea5f3       1     50  3080.356570     True
11  f0c814b878d74b53b8836220143a08f9      10     10   633.568755     True
12  cad2c40b3eb342c686f0afe59d7d94b1       2     50  1196.218638     True

## Test A

In [101]:
n_live = 10
n_cores = 1

In [102]:
%%capture cap
start = time.time()
_hash = get_hash()
!python run_dddm_multinest.py -multicore_hash $_hash -nlive $n_live $common_opt
end = time.time()

In [103]:
print(end-start)

1501.2707877159119

In [104]:
result = dict(hash = _hash, n_live = n_live, n_cores = n_cores, time = end - start, finished =  check_output(cap), output = cap.stdout)

finished, bye bye

In [105]:
df_result = df_result.append(result,ignore_index=True)

In [106]:
df_result[columns[:-1]]

                                hash n_cores n_live         time finished
0   87a42749ae364b0289ecf345055313b5      10     10  1008.033547     True
1   a8691f0f85d14f91b4a4c6b7a6623b0c       2     10   808.244464     True
2   1f474a07ca504c8bb68ab7ed9fbcac40      10     10   994.904756     True
3   eaa65d78cfe840a1b80d78a8719743a0       2     10   676.653270     True
4   17efb1719164499ab2d52e425e2d1420      10     10   732.815588     True
5   ff29b725524a4630aef2748cf78f630c       2     10   861.004138     True
6   9b1085492fc44cc7a699c514fbe121c1       2     50  1054.126191     True
7   982b74d8829444ec8b844fa72f4d714d      10     50  1114.016210     True
8   70b71966be664f05b2f2f0ec5b45b37a       2     50  1060.242525     True
9   56b86644950f4aa0a747df10870934a5       1     10  1161.071688     True
10  174d004392574cbe9d94b6a2f73ea5f3       1     50  3080.356570     True
11  f0c814b878d74b53b8836220143a08f9      10     10   633.568755     True
12  cad2c40b3eb342c686f0afe59d7d94b1       2     50  1196.218638     True
13  d5aa5a882a7b407ab6223ce5de25c5ca       1     10  1501.270788     True

## Test B

In [107]:
n_live = 50
n_cores = 1

In [108]:
%%capture cap
start = time.time()
_hash = get_hash()
!python run_dddm_multinest.py -multicore_hash $_hash -nlive $n_live $common_opt
end = time.time()

In [109]:
print(end-start)

2546.540193080902

In [110]:
result = dict(hash = _hash, n_live = n_live, n_cores = n_cores, time = end - start, finished =  check_output(cap), output = cap.stdout)

finished, bye bye

In [111]:
df_result = df_result.append(result,ignore_index=True)

In [112]:
df_result[columns[:-1]]

                                hash n_cores n_live         time finished
0   87a42749ae364b0289ecf345055313b5      10     10  1008.033547     True
1   a8691f0f85d14f91b4a4c6b7a6623b0c       2     10   808.244464     True
2   1f474a07ca504c8bb68ab7ed9fbcac40      10     10   994.904756     True
3   eaa65d78cfe840a1b80d78a8719743a0       2     10   676.653270     True
4   17efb1719164499ab2d52e425e2d1420      10     10   732.815588     True
5   ff29b725524a4630aef2748cf78f630c       2     10   861.004138     True
6   9b1085492fc44cc7a699c514fbe121c1       2     50  1054.126191     True
7   982b74d8829444ec8b844fa72f4d714d      10     50  1114.016210     True
8   70b71966be664f05b2f2f0ec5b45b37a       2     50  1060.242525     True
9   56b86644950f4aa0a747df10870934a5       1     10  1161.071688     True
10  174d004392574cbe9d94b6a2f73ea5f3       1     50  3080.356570     True
11  f0c814b878d74b53b8836220143a08f9      10     10   633.568755     True
12  cad2c40b3eb342c686f0afe59d7d94b1       2     50  1196.218638     True
13  d5aa5a882a7b407ab6223ce5de25c5ca       1     10  1501.270788     True
14  fa129c55d5174d3d9dba6b8899e37bce       1     50  2546.540193     True

## Test 2

In [113]:
n_live = 50
n_cores = 10

In [114]:
%%capture cap
start = time.time()
_hash = get_hash()
!mpiexec -n $ncore python run_dddm_multinest.py -multicore_hash $_hash -nlive $n_live $common_opt
end = time.time()

In [115]:
print(end-start)

1129.8468136787415

In [116]:
result = dict(hash = _hash, n_live = n_live, n_cores = n_cores, time = end - start, finished =  check_output(cap), output = cap.stdout)

finished, bye bye

In [117]:
df_result = df_result.append(result,ignore_index=True)

In [118]:
df_result[columns[:-1]]

                                hash n_cores n_live         time finished
0   87a42749ae364b0289ecf345055313b5      10     10  1008.033547     True
1   a8691f0f85d14f91b4a4c6b7a6623b0c       2     10   808.244464     True
2   1f474a07ca504c8bb68ab7ed9fbcac40      10     10   994.904756     True
3   eaa65d78cfe840a1b80d78a8719743a0       2     10   676.653270     True
4   17efb1719164499ab2d52e425e2d1420      10     10   732.815588     True
5   ff29b725524a4630aef2748cf78f630c       2     10   861.004138     True
6   9b1085492fc44cc7a699c514fbe121c1       2     50  1054.126191     True
7   982b74d8829444ec8b844fa72f4d714d      10     50  1114.016210     True
8   70b71966be664f05b2f2f0ec5b45b37a       2     50  1060.242525     True
9   56b86644950f4aa0a747df10870934a5       1     10  1161.071688     True
10  174d004392574cbe9d94b6a2f73ea5f3       1     50  3080.356570     True
11  f0c814b878d74b53b8836220143a08f9      10     10   633.568755     True
12  cad2c40b3eb342c686f0afe59d7d94b1       2     50  1196.218638     True
13  d5aa5a882a7b407ab6223ce5de25c5ca       1     10  1501.270788     True
14  fa129c55d5174d3d9dba6b8899e37bce       1     50  2546.540193     True
15  cacd4b8c555f40c8bce539b044b59817      10     50  1129.846814     True

## Test 3

In [119]:
n_live = 50
n_cores = 2

In [ ]:
%%capture cap
start = time.time()
_hash = get_hash()
!mpiexec -n $ncore python run_dddm_multinest.py -multicore_hash $_hash -nlive $n_live $common_opt
end = time.time()

In [ ]:
print(end-start)

In [ ]:
result = dict(hash = _hash, n_live = n_live, n_cores = n_cores, time = end - start, finished =  check_output(cap), output = cap.stdout)

In [ ]:
df_result = df_result.append(result,ignore_index=True)

In [ ]:
df_result[columns[:-1]]

## Test 4

In [ ]:
n_live = 100
n_cores = 10

In [ ]:
%%capture cap
start = time.time()
_hash = get_hash()
!mpiexec -n $ncore python run_dddm_multinest.py -multicore_hash $_hash -nlive $n_live $common_opt
end = time.time()

In [ ]:
print(end-start)

In [ ]:
result = dict(hash = _hash, n_live = n_live, n_cores = n_cores, time = end - start, finished =  check_output(cap), output = cap.stdout)

In [ ]:
df_result = df_result.append(result,ignore_index=True)

In [ ]:
df_result[columns[:-1]]

## Test 5

In [ ]:
n_live = 100
n_cores = 2

In [ ]:
%%capture cap
start = time.time()
_hash = get_hash()
!mpiexec -n $ncore python run_dddm_multinest.py -multicore_hash $_hash -nlive $n_live $common_opt
end = time.time()

In [ ]:
print(end-start)

In [ ]:
result = dict(hash = _hash, n_live = n_live, n_cores = n_cores, time = end - start, finished =  check_output(cap), output = cap.stdout)

In [ ]:
df_result = df_result.append(result,ignore_index=True)

In [ ]:
df_result[columns[:-1]]